.hero {
	background: image("hero.jpg") left center/cover no-repeat;
	margin-top: 50px;
	position: relative;

	&:before {
		background : {
			image: linear-gradient(to right, site-color('day') 50%, rgba(site-color('day'), 0));
		}; // background
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	} // :before

	.brands {
		padding-top: 30px;
		position: relative;
		z-index: 2;

		.dellbrand {
			width: 160px;
		} // .dellbrand

		.sponsorbrand {
			display: flex;
			flex-wrap: wrap;
			margin-top: 20px;
		} // .sponsorbrand

		li {
			&:first-child {
				font-size: 0.75em;
				flex-basis: 100%;
				margin-bottom: 10px;
			} // :first-child

			&:nth-child(2) {
				width: 130px;
			} // nth-child(2)
		} // li
	} // .brands

	.intro-text {
		margin-top: 50px;
		position: relative;
		z-index: 2;

		.hero-headline {
			width: 70%;
			h1 {
				font: {
					size: 2.369em;
					weight: weight('regular');
				} // font 
			} // h1

			.subhead {
				font-size: 1.25em;
			} // .subhead
		} // .hero-headline
	} // .intro-text

	.salestagline {
		color: lighten(site-color('night'), 15);
		margin: 0;
	} // .salestagline

	@include retina(iPhonel) {
		&:before {
			background : {
				image: linear-gradient(to right, rgba(site-color('day'), 0.85) , rgba(site-color('day'), 0) 50%);
			}; // background
		} // :before

		&:after {
			background : {
				image: linear-gradient(to left, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0) 80%);
			}; // background
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		} // :after

		.brands {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding-top: 0;

			.sponsorbrand {
				flex-direction: column;
				justify-content: flex-end;
				margin-top: 0;
				width: 135px;
			} // .sponsorbrand
		} // .brands

		.intro-text {
			margin-top: 30px;

			.hero-headline {
				width: 40%;
			} // .hero-headline
		} // .intro-text

		.salestagline {
			font-size: 0.75em;
			line-height: 1;
			margin-top: 10px;
		} // .salestagline
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		padding: 60px 0;

		&:before {
			background : {
				image: linear-gradient(to right, rgba(site-color('day'), 0.85) , rgba(site-color('day'), 0) 50%);
			}; // background
		} // :before

		&:after {
			background : {
				image: linear-gradient(to left, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0) 60%);
			}; // background
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
		} // :after

		.brands {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-top: -30px;
			padding-top: 0;

			.sponsorbrand {
				flex-direction: column;
				justify-content: flex-end;
				margin-top: 0;
				width: 135px;
			} // .sponsorbrand
		} // .brands

		.intro-text {
			margin-top: 60px;

			.hero-headline {
				width: 45%;

				h1 {
					font-size: 3.157em;
				} // h1
			} // .hero-headline
		} // .intro-text

		.salestagline {
			font-size: 0.75em;
			line-height: 1;
			margin-top: 10px;
		} // .salestagline
	} // breakpoint($tablet)

	@include breakpoint($desktop) {
		padding: 80px 0;

		&:before {
			background : {
				image: linear-gradient(to right, rgba(site-color('day'), 0.85) , rgba(site-color('day'), 0) 50%);
			}; // background
		} // :before

		&:after {
			background : {
				image: linear-gradient(to left, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0) 50%);
			}; // background
		} // :after

		.brands {
			.dellbrand {
				width: 200px;
			} // .dellbrand

			.sponsorbrand {
				justify-content: flex-end;
				margin-top: 0;
			} // .sponsorbrand

			li {
				&:first-child {
					// flex-basis: 57%;
					// margin-bottom: 10px;
				} // :first-child

				&:nth-child(2) {
					// margin-right: 60px;
					// width: 150px;
				} // nth-child(2)

				&:nth-child(3) {
					// width: 60px;
				} // nth-child(3)
			} // li
		} // .brands

		.intro-text {
			max-width: 425px;

			.hero-headline {
				width: 80%;
				h1 {
					font-size: 4.209em;
					line-height: 1;
				} // h1
			} // .hero-headline
		} //.intro-text
	} // bp($desktop)

	@include breakpoint($common) {
		padding: 80px 0 250px;
	} // bp($common)

	@include breakpoint($widescn) {
		padding: 80px 0 400px;

		.intro-text {
			margin-top: 120px;
			max-width: 600px;

			.hero-headline {
				h1 {
					font-size: 5em;
				} // h1

				.subhead {
					font-size: 1.8em;
				} // .subhead
			} // .hero-headline
		} // .intro-text
	} // bp($widescn)

	@include breakpoint(2180px) {
		padding: 80px 0 500px;
	} // bp($widescn)
} // .hero