.products {
	.hero {
		background: image("productlist-hero.jpg") center center/cover no-repeat;
		padding-bottom: 30%;

		&:before {
			background : {
				image: linear-gradient(to right, rgba(site-color('day'), 0.85) 70%, rgba(site-color('day'), 0.65));
			}; // background
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		} // :before
	} // .hero

	.introduction {
		padding-bottom: 0;

		h3 {
			font-size: 1.777em;
		} // h3
	} // .introduction

	.introduction-container {
		display: inherit;
	} // .introduction-container

	.products-list {
		.cate-title {
			font: {
				size: 1.5em;
				weight: weight('bold');
			} // font
			margin-top: 1em;
		} // .cate-title

		.product-box {
			background-color: site-color('primary');
			margin-bottom: 30px;
			min-width: 220px;
		} // .product-box

		.product-specs {
			align-items: flex-start;
			color: site-color('day');
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			padding: 15px;

			h4 {
				font: {
					size: 1.25em;
					weight: weight('bold');
				} // font
				margin-top: 0;
			} // h4
		} // .product-specs

		.whitebtn {
			float: left;
			margin-top: 20px;
		} // .whitebtn
	} // .products-list

	@include breakpoint(430px, 667px) {
		.products-list {
			.products-cate-container {
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
			} // .products-cate-container

			.product-box {
				display: flex;
				flex-direction: column;
				margin-left: 15px;
				margin-right: 15px;
				width: calc(100% / 12 * 6 - 30px);
			} // .product-box
		} // .products-list
	} // bp(430,667)

	@include retina(iPhonel) {
		.hero {
			&:before {
				background : {
					image: linear-gradient(to right, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0));
				}; // background
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :before

			&:after {
				background: none;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :after
		} // .hero

		.products-list {
			.products-cate-container {
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
			} // .products-cate-container

			.product-box {
				display: flex;
				flex-direction: column;
				margin-left: 15px;
				margin-right: 15px;
				width: calc(100% / 12 * 6 - 30px);
			} // .product-box
		} // .products-list
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		.hero {
			height: 450px;

			&:before {
				background : {
					image: linear-gradient(to right, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0));
				}; // background
				content: '';
				display: block;
				width: 60%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :before

			&:after {
				background: none;
				content: '';
			} // :after
		} // .hero

		.introduction {
			padding-top: 60px;
		} // .introduction

		.products-list {
			.products-cate-container {
				display: flex;
				flex-wrap: wrap;
				margin-left: -15px;
				margin-right: -15px;
			} // .products-cate-container

			.product-box {
				display: flex;
				flex-direction: column;
				margin-left: 15px;
				margin-right: 15px;
				width: calc(100% / 12 * 4 - 60px);
			} // .product-box
		} // .products-list
	} // breakpoint($tablet)

	@include breakpoint($desktop) {
		.hero {
			height: 550px;
		} // .hero
	} // bp($desktop)

	@include breakpoint($common) {
		.hero {
			background: image("productlist-hero.jpg") center 65%/cover no-repeat;
			height: 700px;
		} // .hero

		.introduction, .products-list {
			max-width: 1240px;
			margin-left: auto;
			margin-right: auto;	
		} // .introduction, .products-list

		.products-list {
			.product-box {
				width: calc(100% / 12 * 3 - 55px);
			} // .product-box
		} // .products-list
	} // bp($common)

	@include breakpoint($widescn) {
		.hero {
			height: 950px;
		} // .hero
	} // bp($widescn)
} // .products