.products {
	.hero {
		background: image("productlist-hero.jpg") center center/cover no-repeat;
		padding-bottom: 30%;

		&:before {
			background : {
				image: linear-gradient(to right, rgba(site-color('day'), 0.85) 70%, rgba(site-color('day'), 0.65));
			}; // background
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
		} // :before
	} // .hero

	.introduction {
		padding-bottom: 0;

		h3 {
			font-size: 1.777em;
		} // h3
	} // .introduction

	.introduction-container {
		display: inherit;
	} // .introduction-container

	.products-list {
		.products-list-container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		} // .products-list-container

		.product-box {
			display: flex;
			margin-bottom: 20px;
		} // .product-box

		.product-specs {
			background-color: site-color('primary');
			color: site-color('day');
			font-size: 0.85em;
			padding: 10px;

			h4 {
				font-size: 1.2em;
				margin: 0;
			} // h4

			a {
				color: site-color('day');
			} // a
		} // .product-specs

		.whitebtn {
			border: 1px solid site-color('day');
			font-size: 0.75em;
			margin-top: 10px;
		} // .whitebtn
	} // .products-list

	@include retina(iPhonel) {
		.hero {
			height: 350px;

			&:before {
				background : {
					image: linear-gradient(to right, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0));
				}; // background
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :before

			&:after {
				background: none;
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :after
		} // .hero

		.products-list {
			.products-list-container {
				flex-direction: row;
			} // .products-list-container

			.product-box {
				display: block;
				flex: 1 0 calc((100% / 4 * 2) - 20px);

				&:nth-child(2n+1) {
					margin-right: 20px;
				} // nth-child(2n+1)

				.product-specs {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;

					.whitebtn {
						margin-top: 20px;
					} // .whitebtn

					p {
						margin-bottom: 0;
					} // p
				} // .product-specs
			} // .product-box
		} // .products-list
	} // retina(iPhonel)

	@include breakpoint($tablet) {
		.hero {
			height: 450px;

			&:before {
				background : {
					image: linear-gradient(to right, rgba(site-color('day'), 0.85), rgba(site-color('day'), 0));
				}; // background
				content: '';
				display: block;
				width: 60%;
				height: 100%;
				position: absolute;
				top: 0;
			} // :before

			&:after {
				background: none;
				content: '';
			} // :after
		} // .hero

		.introduction {
			padding-top: 60px;
		} // .introduction

		.products-list {
			.products-list-container {
				flex-direction: row;
			} // .products-list-container

			.product-box {
				background: site-color('primary');
				display: block;
				flex: 1 0 calc((100% / 16 * 4) - 40px);
				margin-right: 20px;

				&:nth-child(4n) {
					margin-right: 0;
				} // :nth-child(4n)

				.product-specs {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					.whitebtn {
						margin-top: 20px;
					} // .whitebtn

					p {
						margin-bottom: 0;
					} // p
				} // .product-specs

				.whitebtn {
					font-size: 0.85em;
				} // .whitebtn
			} // .product-box
		} // .products-list
	} // breakpoint($tablet)

	@include breakpoint($desktop) {
		.hero {
			height: 550px;
		} // .hero
	} // bp($desktop)

	@include breakpoint($common) {
		.hero {
			background: image("productlist-hero.jpg") center 65%/cover no-repeat;
			height: 700px;
		} // .hero

		.introduction, .products-list {
			max-width: 1240px;
			margin-left: auto;
			margin-right: auto;	
		} // .introduction, .products-list
	} // bp($common)

	@include breakpoint($widescn) {
		.hero {
			height: 950px;
		} // .hero
	} // bp($widescn)
} // .products